<ion-header >
  <ion-toolbar class="green ion-text-center" >
    <ion-title translate="dashboard.faqs"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="brown" [fullscreen]="true" [ngStyle]="{'--padding-bottom.px':calculatePadding()}">

  <ion-row class="ion-margin ion-padding">
    <ion-col class="ion-text-center" size="12">
        <ion-label>
          <h1 translate="faqs.you_have_doubts?"></h1>
        </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col size="12">
      <ion-label><h2 translate="faqs.look_at_our_faqs"></h2></ion-label>
    </ion-col>
    <ion-col size="12">
      <ion-button size="large" color="mediumblue" (click)="openFaqs()"><ion-icon src="../../../assets/icons/help-outline.svg"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-label><h2 translate="faqs.look_at_our_manual"></h2></ion-label>
    </ion-col>
    <ion-col size="12">
      <ion-button size="large" color="mediumblue" (click)="openQuickstart()"><ion-icon src="../../../assets/icons/book-outline.svg"></ion-icon></ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top ion-padding-top">
    <ion-col class="ion-text-center ion-margin-top ion-padding-top" size="12">
      <ion-icon [routerLink]="['/dashboard']" class="orange-icon" src="../../../assets/icons/return-up-back-outline.svg"></ion-icon>
    </ion-col>
  </ion-row>

</ion-content>
