
<ion-content class="pastel">

      <ion-row class="height-100">
        <ion-col>
          <ion-img class="ion-padding" src="../../assets/img/Logo App Vehiculos.png"></ion-img>
        </ion-col>

      <ion-row class="round-corner-up blue-green">
        <ion-col>
          <ion-row>
            <ion-col *ngIf="platform === 'android'" size="8">
              <ion-title translate="newuser.create_account"></ion-title>
            </ion-col>
            <ion-col class="ion-margin-start ion-padding-start" *ngIf="platform === 'ios'" size="8">
              <ion-title class="customIOS" translate="newuser.create_account"></ion-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-margin-start" size="10">
              <ion-item class="rounded-inputs">
                <ion-input [(ngModel)]="name" type="text" placeholder="{{'newuser.user_name'|translate}}"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="ion-margin-start" size="10">
              <ion-item class="rounded-inputs">
                <ion-input [(ngModel)]="email" type="email" placeholder="{{'newuser.email'|translate}}"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="ion-margin-start" size="11">
              <ion-item class="rounded-inputs">
                <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="{{'newuser.password'|translate}}"></ion-input>
                  <ion-icon *ngIf="!showPassword" slot="end" src="../../../assets/icons/eye-outline.svg" (click)="togglePassword(1)"></ion-icon>
                  <ion-icon *ngIf="showPassword" slot="end" src="../../../assets/icons/eye-off-outline.svg" (click)="togglePassword(1)"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col class="ion-margin-start" size="11">
              <ion-item class="rounded-inputs">
                <ion-input [(ngModel)]="repeatPassword" [type]="showRepeatPassword ? 'text' : 'password'" placeholder="{{'newuser.repeat_password'|translate}}"></ion-input>
                  <ion-icon *ngIf="!showRepeatPassword" slot="end" src="../../../assets/icons/eye-outline.svg" (click)="togglePassword(2)"></ion-icon>
                  <ion-icon *ngIf="showRepeatPassword" slot="end" src="../../../assets/icons/eye-off-outline.svg" (click)="togglePassword(2)"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-justify ion-margin-bottom color-red height-1-rem" size="12">
              <p class="mp-clear danger" [ngClass]="{'error': !Error}" color="danger">{{Error}}</p>
            </ion-col>
          </ion-row>
          <ion-row class="ion-margin-top">
            <ion-col class="ion-text-center mt--2" size="12">
              <ion-button [disabled]="sendValidation()" (click)="registerNewUser()" size="large" translate="newuser.create_account"></ion-button>            </ion-col>
            <ion-col *ngIf="platform==='android'" size="12" class="ion-text-center">
              <ion-title translate="newuser.or_init_with"></ion-title>
            </ion-col>
            <ion-col *ngIf="platform==='ios'" size="12" class="ion-text-center ion-margin-top">
              <ion-title translate="newuser.or_init_with"></ion-title>
            </ion-col>
          </ion-row>
          <ion-row  class="ion-margin-top ion-justify-content-center">
            <ion-col size="12">
              <ion-img (click)="signInWithGoogle()" src="../../assets/img/btn_google_signin_light_normal_web@2x.png"></ion-img>
            </ion-col>

            <ion-col size="12" class="ion-text-center">
              <p translate="newuser.do_you_have_account?"><a class="color-purpure no-text-decoration ion-margin-start" [routerLink]="'/home'" translate="newuser.init_session"></a></p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>
</ion-content>



