<ion-header >
  <ion-toolbar class="green ion-text-center" >
    <ion-title translate="dashboard.adjust"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="brown" [fullscreen]="true" [ngStyle]="{'--padding-bottom.px':calculatePadding()}">

  <ion-card class="orange">
    <ion-card-header>
      <ion-card-title translate="backup.currency"></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-col class="ion-text-center ion-no-margin ion-no-padding" size="12">
        <ion-segment class="ion-no-margin ion-no-padding" [(ngModel)]="currency" (ionChange)="currencyChange($event)">
          <ion-segment-button value="€">
            <ion-label class="zoom-2">€</ion-label>
          </ion-segment-button>
          <ion-segment-button value="$">
            <ion-label class="zoom-2">$</ion-label>
          </ion-segment-button>
          <ion-segment-button value="£">
            <ion-label class="zoom-2">£</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="12">
        <ion-label id="currency_info" class="subtitle ion-justify-content-center"><ion-icon class="larger" src="../../../assets/icons/information-circle-outline.svg"></ion-icon>{{"backup.see_information"|translate}}</ion-label>
        <ion-popover  trigger="currency_info" trigger-action="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-row>
                <ion-col class="ion-text-justify" size="12"><ion-label>{{'backup.only_referencial_currency_text'|translate}}</ion-label></ion-col>
              </ion-row>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="platform==='android'||'web' || (platform==='ios' && !isAllowed)" class="orange">
    <ion-card-header>
      <ion-card-title translate="notifications.reminders"></ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-center ion-margin-top" size="12">
          <ion-toggle *ngIf="platform==='android'||'web'" class="zoom-1-3" [enableOnOffLabels]="true" [checked]="isAllowed" (ionChange)="togglePermissions()">{{'notifications.notificate'|translate}}</ion-toggle>
          <ion-button *ngIf="platform==='ios'"class="black" (click)="togglePermissions()" expand="block" color="green" shape="round" translate="notifications.allow_notifications"></ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding" size="12">
          <ion-label class="danger" *ngIf="errorText">{{errorText}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="orange">
    <ion-card-header>
      <ion-card-title translate="notifications.backup"></ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <ion-row class="ion-margin-top">
       <ion-card class="no-margin-padding-card orange">
         <ion-card-content class="ion-no-padding">
           <app-backup></app-backup>
         </ion-card-content>
       </ion-card>


       <ion-item-divider class="divider-center green ion-margin-top">
        <ion-label><h2 class="black">{{'backup.mode_of_use'|translate}}</h2></ion-label>
      </ion-item-divider>

       <ion-col class="ion-text-center ion-no-padding ion-margin-top" size="12">
        <ion-segment (click)="segmentAlerts()" [disabled]="!connected || !hasFile" [value]="autoBk.toString()" (ionChange)="onAutoBkChange($event)">
          <ion-segment-button value="false">
            <ion-label>{{'notifications.manual'|translate}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="true">
            <ion-label>{{'notifications.auto'|translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="12" class="ion-no-padding ion-margin-bottom ion-margin-top">
        <ion-card class="no-margin-padding-card orange">
          <ion-card-header>
            <ion-card-subtitle class="subtitle"><ion-icon class="larger" src="../../../assets/icons/information-circle-outline.svg"></ion-icon>{{"backup.information"|translate}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-label *ngIf="autoBk" class="ion-text-justify">{{'notifications.auto_text'|translate}}</ion-label>
            <ion-label *ngIf="!autoBk" class="ion-text-justify">{{'notifications.no_auto_text'|translate}}</ion-label>
          </ion-card-content>

        </ion-card>
      </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-row class="ion-margin-top">
    <ion-col class="ion-text-center" size="12">
      <ion-icon [routerLink]="['/dashboard']" class="orange-icon" src="../../../assets/icons/return-up-back-outline.svg"></ion-icon>
    </ion-col>
  </ion-row>

</ion-content>
