.z-6{
  zoom: 6;
}
.z-3{
  zoom: 3;
}
.c-off{
  color:red;
}
.c-on{
  color:green;
}
.c-cl{
  color:orange;
}
.color-green{
  color: green;
}
.color-red{
  color: red;
}
.color-orange{
  color: orange;
}
.subtitle{
  color: green;
  font-size: larger;
  align-items: center;
  display: flex;
}
.larger{
  font-size: larger;
}
.black{
  color: black;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-item-divider ion-label {
  text-align: center;
  width: 100%;
}

.blue-color{
  color: blue;
}

ion-progress-bar {
  --background: #ffc409;
  --progress-background: #63c9b5;
}

.no-margin-padding-card {
  padding: 0px;
  margin: 0px;
}
