.z-6{
  zoom: 6;
}
.z-3{
  zoom: 3;
}
.c-off{
  color:red;
}
.c-on{
  color:green;
}
.color-green{
  color: green;
}
.color-red{
  color: red;
}
.subtitle{
  color: green;
  font-size: larger;
  align-items: center;
  display: flex;
}
.larger{
  font-size: larger;
}
.black{
  color: black;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-item-divider ion-label {
  text-align: center;
  width: 100%;
}

.blue-color{
  color: blue;
}



