.z-6{
  zoom: 6;
}
.c-off{
  zoom: 4;
  color:red;
}
.c-on{
  zoom: 4;
  color:green;
}
.color-green{
  color: green;
}
.color-red{
  color: red;
}
.subtitle{
  color: green;
  font-size: larger;
  align-items: center;
  display: flex;
}
.larger{
  font-size: larger;
}
