<ion-content [fullscreen]="true" class="background">
  <ion-grid class="ion-align-items-center center">
    <ion-button color="green" class="overlay" (click)="closeModal()" expand="block" fill="solid" shape="round">
      <ion-icon src="../../../assets/icons/arrow-back-outline.svg"></ion-icon>
    </ion-button>
    <ion-row>
      <ion-col size="12">
        <div class="ion-img-zoomable" (click)="openImage()">
          <ion-img [src]="img"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
