
<ion-content class="brown">
  <!-- CREAR EVENTO / DATOS -->

  <ion-row class="gray ion-margin rounded">
        <ion-col class="ion-align-items-center ion-text-center" size="12">
          <h2 *ngIf="!eventToEditId" translate="event.create_event"></h2>
          <h2 *ngIf="eventToEditId" translate="event.edit_event"></h2>

        </ion-col>
        <ion-col size="3"></ion-col>

        <ion-col class="ion-padding-start ion-padding-end" size="12">
          <ion-item class="rounded-inputs">
              <ion-select [(ngModel)]="vehicleId" label-placement="floating">
                <div slot="label">{{'event.vehicle'|translate}} <ion-text color="danger"> *</ion-text></div>
                <ion-select-option *ngFor="let vehicle of vehiclesArray" [value]="vehicle.id">{{vehicle.brandOrModel}}</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
        <ion-col class="ion-padding-start ion-padding-end" size="12">
          <ion-item class="rounded-inputs">
              <ion-select [(ngModel)]="type" label-placement="floating">
                <ion-select-option *ngFor="let type of eventTypes" [value]="type.name">{{type.string}}</ion-select-option>
                <div slot="label">{{'event.type'|translate}} <ion-text color="danger"> *</ion-text></div>
              </ion-select>
          </ion-item>
        </ion-col>
        <ion-col class="ion-padding-start ion-padding-end" size="12">
          <ion-item class="rounded-inputs">
            <ion-input [(ngModel)]="date" type="date" label-placement="floating">
            <div slot="label">{{'event.date'|translate}} <ion-text color="danger"> *</ion-text></div>
          </ion-input>
          </ion-item>
        </ion-col>

        <ion-col class="ion-padding-start ion-padding-end" size="12">
          <ion-checkbox labelPlacement="end" [checked]="haveReminder" (ionChange)="toogleReminder($event)">{{'event.add_reminder'|translate}}</ion-checkbox>
        </ion-col>

        <ion-row *ngIf="haveReminder" [@slideUpDown] class="dark ion-margin-start ion-margin-end ion-margin-bottom ion-padding rounded">

          <ion-col size="12">
            <ion-item class="rounded-inputs">
              <ion-input autocapitalize="sentences" [(ngModel)]="reminderTittle" label-placement="floating"  type="text">
                <div slot="label">{{'reminder.title'|translate}} <ion-text color="danger"> *</ion-text></div>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-datetime [value]="getDate()" (ionChange)="setDate($event)">
                <span slot="time-label" translate="reminder.time"></span>
              </ion-datetime>
          </ion-col>

        </ion-row>

        <ion-col class="ion-padding-start ion-padding-end" size="12">
          <ion-item class="rounded-inputs">
            <ion-input [(ngModel)]="km" type="number" label="{{'event.km'|translate}}" label-placement="floating"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col class="ion-padding-start ion-padding-end" size="12">
          <ion-item class="rounded-inputs">
            <ion-input  [clearOnEdit]="true" [(ngModel)]="cost" type="number" label="{{'event.cost' | translate}}" label-placement="floating"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col class="ion-padding-start ion-padding-end" size="12">
          <ion-item class="rounded-inputs">
            <ion-textarea autocapitalize="sentences"  #textareaElement auto-grow="true" label="{{'event.aditional_info' | translate}}" label-placement="floating" [(ngModel)]="info" (input)="onInputChange($event)" type="text" ></ion-textarea>
            <ion-button fill="solid" color="secondary" slot="end" (click)="addHashtag()">
              Añadir #
            </ion-button>
          </ion-item>

          <!-- Mostrar sugerencias cuando se escribe '#' -->
          <ion-list class="tagslist" *ngIf="showSuggestions">
            <ion-item class="gray" lines="none" *ngFor="let tag of filteredTags">
              <p (click)="selectTag(tag)">{{ tag }}</p> <ion-icon (click)="deleteTag(tag)" color="danger" class="ion-margin-start ion-padding-start reduce" src="../../../assets/icons/trash-outline.svg"></ion-icon>
            </ion-item>

            <ion-button class="noUpperCase" color="secondary" *ngIf="showSuggestions && filteredTags.length === 0" fill="clear" (click)="addNewTag()">
             {{'event.add'|translate | uppercase}} {{ '"' + currentTag + '"' }}
            </ion-button>

          </ion-list>



        </ion-col>

        <ion-row class="img-row">
          <ion-col size="12" *ngFor="let image of images">
            <ion-icon color="danger" (click)="deleteImg(image)" class="zoom-2" src="../../../assets/icons/trash-outline.svg"></ion-icon>
              <ion-img (click)="openModal(image)" src="{{image}}"></ion-img>
            </ion-col>
          <ion-col class="ion-padding-start ion-text-center ion-padding-end" size="12">
            <ion-button color="secondary" class="c-black" (click)="addImage()" translate="event.add"><ion-icon class="ion-margin-start" src="../../../assets/icons/images-outline.svg"></ion-icon></ion-button>
          </ion-col>
        </ion-row>

        <ion-col class="ion-margin-top ion-margin-bottom ion-text-center" size="6">
          <ion-button (click)="cancelCreateEvent()" color="danger"><ion-icon size="large" src="../../../assets/icons/arrow-back-outline.svg"></ion-icon></ion-button>
        </ion-col>
        <ion-col class="ion-margin-top ion-margin-bottom ion-text-center" size="6">
          <ion-button color="nmgreen" (click)="createEvent()"><ion-icon size="large" src="../../../assets/icons/checkmark-outline.svg"></ion-icon></ion-button>
        </ion-col>

  </ion-row>

</ion-content>
