<ion-content class="pastel-to-brown-to-green" [ngStyle]="{'--padding-bottom.px':calculatePadding()}">

  <ion-img
  [src]="img"
></ion-img>

  <ion-row class="">

        <ion-col size="12" class="ion-text-center"><h2 translate="userpage.user_dates"></h2></ion-col>

        <ion-col class="avatar" size="12">
          <ion-avatar (click)="changeUserImage()" class="avatar zoom-2">
            <img src="{{user.photo ? user.photo : '../../../../../assets/img/user_avatar.png'}}" referrerPolicy="no-referrer" />
          </ion-avatar>
        </ion-col>
        <ion-col *ngIf="user.method === 'email'" class="ion-no-padding ion-no-margin ion-text-center" size="12" (click)="changeUserImage()"><p translate="userpage.change"></p></ion-col>

        <ion-col class="ion-padding-start ion-padding-end ion-margin-top" size="8">
          <ion-item class="rounded-inputs">
            <ion-input [disabled]="!isEditing" [(ngModel)]="user.name" type="text" placeholder="{{'userpage.user_name'|translate}}"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col *ngIf="!isEditing && user.method === 'email'" size="4" class="ion-content-center ion-text-center ion-margin-top"><ion-icon (click)="isEditingToogle()" size="large" src="../../../assets/icons/pencil-outline.svg"></ion-icon></ion-col>
        <ion-col  *ngIf="isEditing" class="ion-content-center ion-margin-top ion-text-center" size="2">
          <ion-icon color="danger"  (click)="cancelEditting()" size="large" src="../../../assets/icons/trash-outline.svg"></ion-icon>
        </ion-col>
        <ion-col  *ngIf="isEditing" class="ion-content-center ion-margin-top ion-text-center" size="2">
          <ion-icon color="primary" (click)="saveNewData()" size="large" src="../../../assets/icons/save-outline.svg"></ion-icon>
        </ion-col>


        <ion-col class="ion-padding-start ion-padding-end" size="12">
          <ion-item class="rounded-inputs">
            <ion-input disabled [(ngModel)]="user.email" type="text" placeholder="{{'userpage.email'|translate}}"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col *ngIf="user.method === 'email'" class="ion-text-center ion-margin-top"><ion-button class="change-button" (click)="changePassword()" translate="userpage.change_password"></ion-button></ion-col>

        <ion-col class="ion-padding-start ion-padding-end" size="12" *ngIf="user.method !== 'email'"><p class="ion-text-justify" translate="userpage.is_not_posibble_to_change_text"></p></ion-col>

  </ion-row>

<ion-row>
  <ion-col class="ion-text-center">
    <ion-button  *ngIf="user.method === 'email'" (click)="deleteAccount()" color="warning" fill="solid" class="change-button" translate="userpage.delete_user"></ion-button>
  </ion-col>
</ion-row>
<ion-row class="ion-margin-top">
  <ion-col class="ion-text-center" size="12">
    <ion-icon [routerLink]="['/dashboard']" class="orange-icon" src="../../../assets/icons/return-up-back-outline.svg"></ion-icon>
  </ion-col>
</ion-row>

</ion-content>

