
<app-userdataview></app-userdataview>

 <!-- CONTENT 1 - NO VEHICLES -->
  <ion-content *ngIf="!creatingElement && vehiclesArray.length < 1" [@main] class="pastel-to-green" [ngStyle]="{'--padding-bottom.px':calculatePadding()}">
    <ion-row class="green round-corner-up ion-padding-top height-22">
      <ion-col size="12">
        <h1 class="no-vehicles-text ion-margin-end" translate="mainpage.main_text"></h1>
      </ion-col>
      <ion-col size="12" class="ion-justify-content-center flex">
          <ion-img class="arrow"
          src="../../../assets/img/Logo Flecha Carretera 1.png"
          alt="street arrow"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
          <ion-icon (click)="createElement()" class="orange-icon" src="../../../assets/icons/add-circle-outline.svg"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-content>

    <!-- CONTENT 1 - VEHICLES -->
    <ion-content *ngIf="!creatingElement && vehiclesArray.length > 0" [@main] class="brown" [ngStyle]="{'--padding-bottom.px':calculatePadding()}">

      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-button (click)="toogleFiltering()" *ngIf="!filtering" color="warning"><ion-icon src="../../../assets/icons/search-outline.svg"></ion-icon></ion-button>
          <ion-button (click)="eraseFilter()" *ngIf="filtering" color="warning"><ion-icon src="../../../assets/icons/close-outline.svg"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="12">

          <ion-row class="ion-align-items-center" *ngIf="filtering" [@slideUpDown]>

            <ion-col size="12">
              <ion-item class="rounded-inputs ">
                <ion-input [clearInput]="true" (ionInput)="changefilter($event)" [(ngModel)]="filter"  placeholder="{{'mainpage.filter_text'|translate}}"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="5.5">
              <ion-datetime-button class="datetime-bk" datetime="datetime"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true" id="modalStart">
                <ng-template>
                  <ion-datetime
                    presentation="month-year"
                    id="datetime"
                    [value]="startDate.toISOString()"
                    (ionChange)="changeDate('startDate', $event)">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>

            <ion-col class="ion-text-center center" size="1">
              <ion-icon class="swap" *ngIf="correctDates()" src="../../../assets/icons/swap-horizontal-outline.svg"></ion-icon>
              <ion-icon class="error" *ngIf="!correctDates()" src="../../../assets/icons/alert-outline.svg"></ion-icon>
            </ion-col>

            <ion-col size="5.5">
              <ion-datetime-button class="datetime-bk" datetime="datetime2"></ion-datetime-button>

              <ion-modal [keepContentsMounted]="true" id="modalEnd">
                <ng-template>
                  <ion-datetime
                    presentation="month-year"
                    id="datetime2"
                    [value]="endDate.toISOString()"
                    (ionChange)="changeDate('endDate', $event)">
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>

            <ion-col size="12">
              <ion-item class="rounded-inputs">
                  <ion-select (ionChange)="changeTypesFilter($event.detail.value)" [(ngModel)]="types" label="{{'event.select_type'|translate}}" label-placement="floating"  [multiple]="true">
                    <ion-select-option *ngFor="let type of eventTypes" [value]="type.name">{{type.string}}</ion-select-option>
                  </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-button color="warning" (click)="generateData()" expand="block" fill="solid" shape="round">{{"mainpage.search"|translate}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="vehiclesArray.length>0">
        <ion-col>
          <ion-accordion-group>

            <ion-accordion *ngFor="let vehicle of vehiclesArray" class="ion-margin-top main-accordion" value="{{vehicle.id}}">
              <ion-item slot="header" class="green">
                <ion-icon *ngIf="vehicle.typeOfVehicle === '2W'" slot="start" src="../../../assets/icons/bicycle-outline.svg"></ion-icon>
                <ion-icon *ngIf="vehicle.typeOfVehicle === '4W'" slot="start" src="../../../assets/icons/car-sport-outline.svg"></ion-icon>
                <ion-label>{{vehicle.brandOrModel}}</ion-label>
                <ion-badge *ngIf="filtering" class="ion-margin-end" slot="end">{{ getMatchesNumber(vehicle.id) }}</ion-badge>
              </ion-item>
              <div slot="content">
                <!--DATOS DEL VEHÍCULO-->
                <ion-accordion-group class="zoom09">
                  <ion-accordion [disabled]="false" value="vehicleData">
                    <ion-item slot="header" color="darkblue">
                      <ion-icon class="ion-margin-end" src="../../../assets/icons/clipboard-outline.svg"></ion-icon><ion-label>{{'mainpage.data_of_vehicle'|translate}}</ion-label>
                    </ion-item>
                    <div slot="content">

                      <ion-row class="gray">

                        <ion-col *ngIf="vehicle.typeOfVehicle === '4W'" class="ion-padding-start" size="3">
                          <ion-icon class="zoom-4 ion-align-items-center" src="../../../assets/icons/car-sport-outline.svg"></ion-icon>
                        </ion-col>
                        <ion-col *ngIf="vehicle.typeOfVehicle === '2W'" class="ion-padding-start" size="3">
                          <ion-icon class="zoom-4 ion-align-items-center" src="../../../assets/icons/bicycle-outline.svg"></ion-icon>
                        </ion-col>
                        <ion-col class="ion-align-items-center" size="9">
                          <h2>{{vehicle.brandOrModel}}</h2>
                        </ion-col>
                        <ion-col size="3"></ion-col>



                        <ion-col class="ion-padding-start ion-padding-end ion-margin-top" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-input label="{{'newvehicle.brand_or_model'|translate}}" label-placement="floating"[readonly]="true" [(ngModel)]="vehicle.brandOrModel" type="text"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col class="ion-padding-start ion-padding-end" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-input label="{{'newvehicle.car_registration'|translate}}" label-placement="floating"[readonly]="true" [(ngModel)]="vehicle.carRegistration"  type="text"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col class="ion-padding-start ion-padding-end" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-input *ngIf="platform==='android'" label="{{'newvehicle.date_of_buy'|translate}}" label-placement="floating"[readonly]="true" [(ngModel)]="vehicle.dateOfBuy"  type="date"></ion-input>
                            <ion-input *ngIf="platform==='ios'" label="{{'newvehicle.date_of_buy'|translate}}" label-placement="floating"[readonly]="true" [(ngModel)]="vehicle.dateOfBuy"  type="text"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col class="ion-padding-start ion-padding-end" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-input label="{{ 'newvehicle.km_of_buy' | translate }}" label-placement="floating"[readonly]="true" [(ngModel)]="vehicle.kmOfBuy" type="text"></ion-input>
                          </ion-item>
                        </ion-col>

                        <ion-col class="ion-padding-start ion-padding-end" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-input label="{{ 'newvehicle.type_of_fuel' | translate }}" label-placement="floating"[readonly]="true" [(ngModel)]="vehicle.typeOfFuel" type="text"></ion-input>
                          </ion-item>
                        </ion-col>

                        <ion-col class="ion-padding-start ion-padding-end" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-input label="{{ 'newvehicle.insurance_company' | translate }}" label-placement="floating"[readonly]="true" [(ngModel)]="vehicle.insuranceCompany" type="text"></ion-input>
                          </ion-item>
                        </ion-col>

                        <ion-col class="ion-padding-start ion-padding-end" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-input label="{{ 'newvehicle.insurance_policy' | translate }}" label-placement="floating" [readonly]="true" [(ngModel)]="vehicle.insurancePolicy" type="text"></ion-input>
                          </ion-item>
                        </ion-col>

                        <ion-col class="ion-padding-start ion-padding-end" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-input *ngIf="platform==='android'" label="{{ 'newvehicle.insurance_renewal_date' | translate }}" label-placement="floating" [readonly]="true" [(ngModel)]="vehicle.insuranceRenewalDate" type="date"></ion-input>
                            <ion-input *ngIf="platform==='ios'" label="{{ 'newvehicle.insurance_renewal_date' | translate }}" label-placement="floating" [readonly]="true" [(ngModel)]="vehicle.insuranceRenewalDate" type="text"></ion-input>
                          </ion-item>
                        </ion-col>

                        <ion-col class="ion-padding-start ion-padding-end" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-input label="{{ 'newvehicle.roadside_assistance_number' | translate }}" label-placement="stacked" [readonly]="true" [(ngModel)]="vehicle.roadsideAssistanceNumber" type="text">
                                <ion-icon (click)="makeCall(vehicle.roadsideAssistanceNumber)" slot="end" color="nmgreen" class="call-icon" src="../../../assets/icons/call-outline.svg" ></ion-icon>
                            </ion-input>
                          </ion-item>
                        </ion-col>

                        <ion-col class="ion-padding-start ion-padding-end ion-margin-bottom" size="12">
                          <ion-item class="rounded-inputs">
                            <ion-textarea auto-grow="true" label="{{'newvehicle.notes' | translate}}" label-placement="floating" [readonly]="true" [(ngModel)]="vehicle.notes" type="text"></ion-textarea>
                          </ion-item>
                        </ion-col>

                        <ion-col (click)="deleteVehicle(vehicle)" class="ion-margin-top ion-margin-bottom ion-text-center" size="6">
                          <ion-button color="danger"><ion-icon  size="large" src="../../../assets/icons/trash-outline.svg"></ion-icon></ion-button>
                        </ion-col>
                        <ion-col (click)="editVehicle(vehicle.id)" class="ion-margin-top ion-margin-bottom ion-text-center" size="6">
                          <ion-button color="nmgreen"><ion-icon size="large" src="../../../assets/icons/pencil-outline.svg"></ion-icon></ion-button>
                        </ion-col>


                      </ion-row>
                    </div>
                  </ion-accordion>
                </ion-accordion-group>
                <!--EVENTOS-->
                <ion-accordion-group>
                  <ion-accordion value="vehicleEvents">
                    <ion-item slot="header" color="mediumblue">
                      <ion-icon class="ion-margin-end" src="../../../assets/icons/build-outline.svg"></ion-icon><ion-label>{{'mainpage.events'|translate}}</ion-label>
                    </ion-item>
                    <div slot="content">
                      <ion-row *ngIf="!someForThatVehicle(vehicle.id)" class="gray ion-padding-top ion-padding-bottom ion-padding-start">
                        <ion-col>
                          <ion-label>{{'mainpage.no_events'|translate}}</ion-label>
                        </ion-col>
                      </ion-row>

                     <ion-accordion-group #accordionGroup *ngIf="someForThatVehicle(vehicle.id)">
                      <ng-container *ngFor="let event of filteredEventsArray">
                        <ion-accordion *ngIf="event.vehicleId === vehicle.id" class="zoom08" value="{{event.id}}">
                          <ion-item slot="header" class="orange">
                            <ion-label><b>{{getTranslatedType(event.type)}}</b> - {{event.date | date:'dd/MM/yyyy'}}</ion-label>
                            <ion-icon *ngIf="checkReminder(event)" color="danger" class="larger" src="../../../assets/icons/alert-outline.svg"></ion-icon>
                            <ion-icon *ngIf="thereIsReminder(event)" class="ion-margin-end" slot="end" src="../../../assets/icons/alarm-outline.svg"></ion-icon>
                          </ion-item>
                          <div slot="content" class="gray">

                            <ion-row class="ion-padding-top">

                              <ion-col *ngIf="thereIsReminder(event)" class="ion-text-center ion-padding-start ion-padding-end" size="12">
                                <ion-label><h1 class="centered"><ion-icon class="ion-margin-end" slot="start" src="../../../assets/icons/alarm-outline.svg"></ion-icon> {{getLabelOfDate(event.reminderDate)}}</h1></ion-label>
                                <ion-label *ngIf="checkReminder(event)" id="currency_info+{{event.id}}" class="subtitle ion-justify-content-center ion-margin-start"><h1 class="centered-nm"><ion-icon color="danger" class="larger" src="../../../assets/icons/alert-outline.svg"></ion-icon></h1></ion-label>
                                <ion-popover *ngIf="checkReminder(event)" trigger="currency_info+{{event.id}}" trigger-action="click">
                                  <ng-template>
                                    <ion-content class="ion-padding">
                                      <ion-row>
                                        <ion-col class="ion-text-justify" size="12"><ion-label>{{'alert.notification_problem_text'|translate}}</ion-label></ion-col>
                                      </ion-row>
                                    </ion-content>
                                  </ng-template>
                                </ion-popover>
                              </ion-col>



                              <ion-col class="ion-padding-start ion-padding-end" size="12">
                                <ion-item class="rounded-inputs">
                                  <ion-input *ngIf="platform==='android'" label="{{'event.date'|translate}}" label-placement="floating" [readonly]="true" [(ngModel)]="event.date" type="date"></ion-input>
                                  <ion-input *ngIf="platform==='ios'" label="{{'event.date'|translate}}" label-placement="floating" [readonly]="true" [(ngModel)]="event.date" type="text"></ion-input>
                                </ion-item>
                              </ion-col>

                              <ion-col class="ion-padding-start ion-padding-end" size="12">
                                <ion-item class="rounded-inputs">
                                  <ion-input readonly="true" [value]="getTranslatedType(event.type)" label="{{'event.type'|translate}}" label-placement="floating" >
                                  </ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col class="ion-padding-start ion-padding-end" size="12">
                                <ion-item class="rounded-inputs">
                                  <ion-input label="{{'event.km'|translate}}" label-placement="floating" [readonly]="true" [(ngModel)]="event.km" type="text"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col class="ion-padding-start ion-padding-end" size="12">
                                <ion-item class="rounded-inputs">
                                  <ion-input label="{{ 'event.cost' | translate }}" label-placement="floating" [readonly]="true" [value]="event.cost | number:'1.2-2'" ></ion-input>
                                  <div slot="end">{{currency}}</div>

                                </ion-item>
                              </ion-col>

                              <ion-col class="ion-padding-start ion-padding-end ion-margin-bottom" size="12">
                                <ion-item class="rounded-inputs">
                                  <ion-textarea auto-grow="true" label="{{'event.aditional_info' | translate}}" label-placement="floating" [readonly]="true" [(ngModel)]="event.info" type="text"></ion-textarea>
                                </ion-item>
                              </ion-col>


                              <ion-col class="img" size="12" *ngFor="let image of event.images">
                                <ion-img (click)="openModal(image)" src="{{image}}"></ion-img>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col (click)="deleteEvent(event)" class="ion-margin-top ion-margin-bottom ion-text-center" size="6">
                                <ion-button color="danger"><ion-icon size="large" src="../../../assets/icons/trash-outline.svg"></ion-icon></ion-button>
                              </ion-col>
                              <ion-col (click)="editEvent(event.id)" class="ion-margin-top ion-margin-bottom ion-text-center" size="6">
                                <ion-button color="nmgreen"><ion-icon  size="large" src="../../../assets/icons/pencil-outline.svg"></ion-icon></ion-button>
                              </ion-col>
                            </ion-row>
                          </div>
                        </ion-accordion>
                      </ng-container>
                     </ion-accordion-group>

                    </div>
                  </ion-accordion>
                </ion-accordion-group>


              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-margin-top ion-text-center" size="12">
            <ion-icon (click)="createElement()" class="orange-icon" src="../../../assets/icons/add-circle-outline.svg"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-content>



   <!-- CONTENT 2 -->
  <ion-content *ngIf="creatingElement" [@main] class="brown" [ngStyle]="{'--padding-bottom.px':calculatePadding()}">


    <ion-row>
      <ion-col class="ion-text-center ion-margin-top ion-padding-top" size="12">
        <ion-button (click)="createVehicle()" class="button-create color1" size="large">
          <ion-icon class="zoom-2" slot="start" src="../../../assets/icons/car-sport-outline.svg"></ion-icon>
          {{'mainpage.vehicle'|translate}}
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="12">
        <ion-button (click)="createEvent()"  class="button-create color2" size="large">
          <ion-icon class="zoom-2" slot="start" src="../../../assets/icons/create-outline.svg"></ion-icon>
          {{'mainpage.event'|translate}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin-top ion-text-center" size="12">
          <ion-icon (click)="createElement()" class="orange-icon" src="../../../assets/icons/return-up-back-outline.svg"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-content>
