
<ion-content class="brown">



  <ion-row class="gray ion-margin ion-padding rounded">

    <ion-col size="12">
      <ion-item class="rounded-inputs">
          <ion-select [(ngModel)]="vehicleId" label="{{'event.vehicle'|translate}}" label-placement="floating">
            <ion-select-option *ngFor="let vehicle of vehiclesArray" [value]="vehicle.id">{{vehicle.brandOrModel}}</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-col>

    <ion-col size="12">
        <ion-datetime (ionChange)="updateDate($event)" [value]="getDate()">
          <span slot="time-label" translate="reminder.time"></span>
        </ion-datetime>
    </ion-col>
    <ion-col size="12">
      <ion-item class="rounded-inputs">
        <ion-input label="{{'reminder.title' | translate}}" label-placement="floating" [(ngModel)]="title" type="text"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item class="rounded-inputs">
        <ion-textarea auto-grow="true" label="{{'reminder.text' | translate}}" label-placement="floating" [(ngModel)]="body" type="text"></ion-textarea>
      </ion-item>
    </ion-col>

    <ion-col class="ion-margin-top ion-margin-bottom ion-text-center" size="6">
      <ion-button (click)="cancelCreateEvent()" color="danger"><ion-icon  size="large" src="../../../assets/icons/arrow-back-outline.svg"></ion-icon></ion-button>
    </ion-col>
    <ion-col class="ion-margin-top ion-margin-bottom ion-text-center" size="6">
      <ion-button (click)="createEvent()" color="nmgreen"><ion-icon size="large" src="../../../assets/icons/checkmark-outline.svg"></ion-icon></ion-button>
    </ion-col>

  </ion-row>

</ion-content>
