/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


//FUENTE PERSONALIZADA
@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Light.ttf');
}

:root {
  --ion-font-family: 'Kanit', sans-serif;
}

body, ion-app {
  font-family: var(--ion-font-family);
}

.black{
  font-weight: bold;
}
.italic{
  font-style: italic;
}

//COLORES
.pastel{
  --background: rgba(246, 244, 233, 1);
  background: rgba(246, 244, 233, 1);
}
.green{
  background: #63c9b5;
  --background: rgba(99, 201, 181, 1);
}
.pastel-to-green{
  background: linear-gradient(to bottom, #f5eabe 0%, #f5eabe 50%, #63c9b5 50%, #63c9b5 100%);
  --background: linear-gradient(to bottom, #f5eabe 0%, #f5eabe 50%, #63c9b5 50%, #63c9b5 100%);
}
.pastel-to-brown-to-green{
  --background: rgb(246,243,234);
  --background: linear-gradient(180deg, rgba(246,243,234,1) 0%,rgba(246,243,234,1) 0%, #f5eabe 60%, #f5eabe 60%, #f5eabe 100%);
}
.brown{
  background:#f5eabe;
  --background:#f5eabe;
}
.ion-color-green {
  --ion-color-base: #63c9b5;
}

.ion-color-darkblue {
  --ion-color-base: #2f939e;
}
.ion-color-mediumblue {
  --ion-color-base: #01b8cd;
}
.ion-color-ligthblue {
  --ion-color-base: #27e7fc;
}

.zoom09{
  zoom: 0.9;
}
.zoom08{
zoom: 0.8;
}

.gray{
  background: #a2c3c7;
  --background: #a2c3c7;
}

//ROUND
.round-corner-up{
  border-top-right-radius: 7rem;
}
.rounded-inputs{
background-color: #f6f3ea;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
}

//LOADER
.loading-content{
  --offset-top: 0px;
  --offset-bottom: 0px;
  position: absolute;
  --background: #ffffffbf;
}

//COLORES
.danger{
  color:crimson;
}


//ANIMACIONES Y TRANSFORMACIÓN
.loader{
  font-size: 48px;
  color: #000000;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader:after{
  content: 'Loading';
  position: relative;
  z-index: 5;
}
.loader:before{
  content: '';
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#8fd6c5 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}
@keyframes lineGrow {to {  background-size: 100% auto}}

//TAMAÑO
.height-100{
  height: 100%;
}
.height-22{
  height: 25rem;
}
.zoom-2{
  zoom: 2;
}
.zoom-4{
  zoom: 4;
}
.pastel-to-blue{
  --background: rgb(246,243,234);
  --background: linear-gradient(180deg, rgba(246,243,234,1) 0%,rgba(246,243,234,1) 25%, #8bd3db 25%, #8bd3db 100%);
}
.flex{
  display: flex;
}
.pastel-to-blue{
  --background: rgb(246,243,234);
  --background: linear-gradient(180deg, rgba(246,243,234,1) 0%,rgba(246,243,234,1) 25%, #8bd3db 25%, #8bd3db 100%);
}
.blue{
  background: #8bd3db;
}
.mt-3{
  margin-top: 3rem;
}
.orange-icon{
  zoom: 2.5;
  background: orange;
  border-radius: 100%;
  padding: 6%;
}
.bottom{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.arrow{
  max-width: 40%;
  transform: rotate(15deg);
}
.no-vehicles-text{
  line-height: normal;
  text-align: center;
  font-style: italic;
}
.ion-content-center{
  align-content: center;
}

.button-create{
  height: 5rem;
  width: 80%;
  color: black;
}

.color1{
  --background: #2f939e;
}
.color2{
  --background: #01b8cd;
}
.color3{
  --background: #27e7fc;
}
.main-accordion{
  border-radius: 5px;
  zoom: 1.1;
}
.label-text-wrapper.sc-ion-input-md{
  margin-top: -0.6rem;
  color: #2f939e
}
.rounded{
  border-radius: 1rem;
}
.success-color{
  color: green;
}
.zoom09{
  zoom: 0.9;
}
.zoom08{
zoom: 0.8;
}
.orange{
  --background: #ffcc7f;
  background: #ffcc7f9b;
}
