.zoom-2{
  zoom: 2;
}
.pastel-to-blue{
  --background: rgb(246,243,234);
  --background: linear-gradient(180deg, rgba(246,243,234,1) 0%,rgba(246,243,234,1) 25%, #8bd3db 25%, #8bd3db 100%);
}
.flex{
  display: flex;
}
.pastel-to-blue{
  --background: rgb(246,243,234);
  --background: linear-gradient(180deg, rgba(246,243,234,1) 0%,rgba(246,243,234,1) 25%, #8bd3db 25%, #8bd3db 100%);
}
.blue{
  background: #8bd3db;
}
.mt-3{
  margin-top: 3rem;
}
.orange-icon{
  zoom: 2.5;
  background: orange;
  border-radius: 100%;
  padding: 6%;
}
.bottom{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
