<ion-menu side="start" contentId="main-content" (ionWillClose)="cerrarMenu()">

  <ion-header>
    <ion-toolbar class="pastel">
      <ion-title><ion-img src="../../../assets/img/Logo App Vehiculos.png"></ion-img></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="pastel-to-blue">
    <ion-row class="ion-margin-top mt-3 blue round-corner-up">
      <ion-col class="ion-margin-top" size="12">
        <h3 class="ion-margin-top" (click)="cerrarMenu()" [routerLink]="['/dashboard/main']" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/document-text-outline.svg"></ion-icon>{{'dashboard.main_page'|translate}}</h3>
        <h3 class="ion-margin-top" (click)="cerrarMenu()" [routerLink]="['/dashboard/userdata']" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/person-outline.svg"></ion-icon>{{'dashboard.user_data'|translate}}</h3>
        <h3 class="ion-margin-top" (click)="cerrarMenu()" [routerLink]="['/dashboard/notifications']" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/cog-outline.svg"></ion-icon>{{'dashboard.adjust'|translate}}</h3>
        <h3 class="ion-margin-top" (click)="cerrarMenu()" [routerLink]="['/dashboard/faqs']" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/help-outline.svg"></ion-icon>{{'dashboard.faqs'|translate}}</h3>
        <h3 class="ion-margin-top" (click)="cerrarMenu()" [routerLink]="['/#']" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/alert-outline.svg"></ion-icon>{{'dashboard.point_out_problem'|translate}}</h3>
        <h3 class="ion-margin-top" (click)="cerrarMenu()" [routerLink]="['/#']" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/share-social-outline.svg"></ion-icon>{{'dashboard.like_share'|translate}}</h3>
        <h3 class="ion-margin-top" (click)="goUseTerms()" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/information-circle-outline.svg"></ion-icon>{{'dashboard.user_terms'|translate}}</h3>
        <h3 class="ion-margin-top" (click)="goPrivacy()" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/key-outline.svg"></ion-icon>{{'dashboard.privacity'|translate}}</h3>
        <h3 class="ion-margin-top" (click)="cerrarMenu()" [routerLink]="['/#']" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/analytics-outline.svg"></ion-icon>{{'dashboard.export_data'|translate}}</h3>
        <h3 class="ion-margin-top" (click)="endSession()" class="flex ion-align-items-center"><ion-icon class="ion-margin-end" size="large" src="../../../assets/icons/exit-outline.svg"></ion-icon>{{'dashboard.close_session'|translate}}</h3>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center" size="12">
          <ion-icon (click)="cerrarMenu()" class="orange-icon" src="../../../assets/icons/arrow-back-circle-outline.svg"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="pastel">
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <ion-img src="../../../assets/img/Logo App Vehiculos.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-buttons slot="end">
        <ion-menu-button (click)="HideBanner()" class="zoom-2"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="brown">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>



</div>




