<ion-header>
  <ion-toolbar color="dark">
      <ion-row class="ion-justify-content-around">
        <ion-col size="2">
          <ion-img (click)="changeLanguage('es')" src="../../assets/flags/SP Flag.png"></ion-img>
        </ion-col>
         <ion-col size="2">
          <ion-img (click)="changeLanguage('en')" src="../../assets/flags/GB Flag.png"></ion-img>
        </ion-col>
         <ion-col size="2">
          <ion-img (click)="changeLanguage('fr')" src="../../assets/flags/Fr Flag.png"></ion-img>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-header>


 <ion-content class="pastel-to-green">

  <ion-row class="ion-padding">
    <ion-col size="12">
      <ion-img src="../../assets/img/Logo App Vehiculos.png"></ion-img>
    </ion-col>
  </ion-row>

  <ion-row class="green round-corner-up">
    <ion-col size="12">
        <ion-label>
          <h1 translate="home.init_session"></h1>
        </ion-label>
    </ion-col>

    <ion-row>
      <ion-col class="ion-margin-start" size="10">
        <ion-item class="rounded-inputs">
          <ion-input [(ngModel)]="email" type="email" placeholder="{{'home.email'|translate}}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-margin-start" size="11">
        <ion-item class="rounded-inputs">
          <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="{{'home.password'|translate}}"></ion-input>
            <ion-icon *ngIf="!showPassword" slot="end" src="../../assets/icons/eye-outline.svg" (click)="togglePassword()"></ion-icon>
            <ion-icon *ngIf="showPassword" slot="end" src="../../assets/icons/eye-off-outline.svg" (click)="togglePassword()"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin-start">
        <ion-checkbox [(ngModel)]="rememberSession" labelPlacement="end" translate="home.remember_session"></ion-checkbox>
      </ion-col>
      <ion-col class="ion-text-justify color-red height-1-rem" size="12">
        <p class="mp-clear" [ngClass]="{'error': !Error}" color="danger">{{Error}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="w-100 ion-margin-top">
      <ion-col class="ion-text-center" size="12">
        <ion-button [disabled]="sendValidation()" (click)="loginWithEmail()" size="large" translate="home.login"></ion-button>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <a class="color-purpure" (click)="restorePassword()" translate="home.forgot_your_password?"></a>
      </ion-col>
    </ion-row>
    <ion-row  class="ion-margin-top ion-justify-content-center">
      <ion-col size="12">
        <ion-img (click)="signInWithGoogle()" src="../../assets/img/btn_google_signin_light_normal_web@2x.png"></ion-img>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p translate="home.dont_have_user?"><a class="color-purpure no-text-decoration ion-margin-start" [routerLink]="'/newuser'" translate="home.sign_up"></a></p>
      </ion-col>
    </ion-row>
  </ion-row>

 </ion-content>

 <ion-footer class="pastel">
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-end" size="5">
      <a class="c-black" [routerLink]="'/privacy'" translate="home.privacity"></a>
    </ion-col>
    <ion-col class="ion-text-center" size="1">
      ·
    </ion-col>
    <ion-col class="ion-text-start" size="5">
      <a class="c-black" [routerLink]="'/useterms'" translate="home.terms_of_use"></a>
    </ion-col>
  </ion-row>
</ion-footer>

<ion-content class="loading-content" *ngIf="isLoading" >
  <ion-row class="ion-align-items-center ion-text-center height-100">
    <ion-col>
      <span class="loader"></span>
    </ion-col>
  </ion-row>
</ion-content>
