<ion-content class="pastel-to-brown">
  <ion-avatar class="avatar">
    <img src="{{user.photo ? user.photo : '../../../../../assets/img/user_avatar.png'}}" />
  </ion-avatar>

  <ion-row class="ion-margin-start">
    <ion-col class="ion-margin-top ion-margin-start" size="4">
      <ion-label>
        <h1 class="black" translate="mainpage.hello!"></h1>
      </ion-label>
    </ion-col>
    <ion-col class="ion-margin-top ion-text-center" size="2">

      <ion-label id="no_connected_info" *ngIf="token && !connected && !hasFiles && !uploading">
        <h1><ion-icon color="danger" src="../../../assets/icons/cloud-offline-outline.svg"></ion-icon></h1>
        <ion-popover trigger="no_connected_info" trigger-action="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-row>
                <ion-col class="ion-text-justify" size="12"><ion-label>{{'popover.no_connected_info'|translate}}</ion-label></ion-col>
              </ion-row>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-label>

      <ion-label id="is_connected_info" *ngIf="token && connected && !hasFiles && !uploading">
        <h1><ion-icon class="orange-cloud" src="../../../assets/icons/cloud-done-outline.svg"></ion-icon></h1>
        <ion-popover trigger="is_connected_info" trigger-action="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-row>
                <ion-col class="ion-text-justify" size="12"><ion-label>{{'popover.is_connected_info'|translate}}</ion-label></ion-col>
              </ion-row>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-label>

      <ion-label id="has_file_info" *ngIf="token && connected && hasFiles && !uploading  && !downloading && !cleaning">
        <h1><ion-icon class="green-icon" src="../../../assets/icons/cloud-done-outline.svg"></ion-icon></h1>
        <ion-popover trigger="has_file_info" trigger-action="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-row>
                <ion-col class="ion-text-justify" size="12"><ion-label>{{'popover.has_file_info'|translate}}</ion-label></ion-col>
              </ion-row>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-label>

    <ion-label id="is_uploading_info" *ngIf="token && connected && uploading">
      <h1><ion-icon class="green-icon" src="../../../assets/icons/cloud-upload-outline.svg"></ion-icon></h1>
      <ion-popover trigger="is_uploading_info" trigger-action="click">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-row>
              <ion-col class="ion-text-justify" size="12"><ion-label>{{'popover.uploading_info'|translate}}</ion-label></ion-col>
            </ion-row>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-label>

    <ion-label id="is_uploading_info" *ngIf="token && connected && downloading">
      <h1><ion-icon class="green-icon" src="../../../assets/icons/cloud-download-outline.svg"></ion-icon></h1>
      <ion-popover trigger="is_uploading_info" trigger-action="click">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-row>
              <ion-col class="ion-text-justify" size="12"><ion-label>{{'popover.downloading_info'|translate}}</ion-label></ion-col>
            </ion-row>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-label>

    <ion-label id="is_cleaning_info" *ngIf="token && connected && cleaning">
      <h1><ion-icon class="orange-cloud" src="../../../assets/icons/cloud-upload-outline.svg"></ion-icon></h1>
      <ion-popover trigger="is_cleaning_info" trigger-action="click">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-row>
              <ion-col class="ion-text-justify" size="12"><ion-label>{{'popover.cleaning_info'|translate}}</ion-label></ion-col>
            </ion-row>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-label>


  </ion-col>


    <ion-col class="ion-margin-top" size="12">
      <ion-label>
        <h1>{{ user.name ? user.name : ('mainpage.user_name' | translate) }}</h1>
      </ion-label>
    </ion-col>
  </ion-row>


</ion-content>


