ion-content{
  height: 8rem;
}
.margin-left-2-rem{
  margin-left: 2rem;
}
.avatar{
  background: antiquewhite;
  zoom: 1.3;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.black{
  font-weight: bold;
}
.pastel-to-brown{
  --background: rgb(246,243,234);
  --background: linear-gradient(180deg, rgba(246,243,234,1) 0%,rgba(246,243,234,1) 0%, #f5eabe 60%, #f5eabe 60%, #f5eabe 100%);
}
.green-icon{
  color: #2f939e;
}
.orange-cloud{
  color: orange;
}

