<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329432960985-97l9q80p1v5qb14lc5ef321jameit40s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329432960985-97l9q80p1v5qb14lc5ef321jameit40s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329432960985-2rc86flq1j6v4o714odb423jvnl2ba6r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBU7qwpp4SeMb5q4Gvhmhm5HXlWsANygjg</string>
	<key>GCM_SENDER_ID</key>
	<string>329432960985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benjamintr.vehiclescontrol</string>
	<key>PROJECT_ID</key>
	<string>vehicles-control-ck</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicles-control-ck.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329432960985:ios:1146d48a31ab557e4b93c8</string>
</dict>
</plist>